.catalog-sections {
    position: relative;

    &__inner {
        max-width: 1040px;
        margin: 0 auto;

        display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-template-columns: repeat(6, 1fr);
        column-gap: 20px;
        row-gap: 30px;

        @media(max-width: $breakpoint1024) {
            // grid-template-columns: repeat(3, 1fr);
            column-gap: 14px;
        }
        @media(max-width: $breakpoint600) {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 8px;
            row-gap: 20px;
        }
        @media(max-width: $breakpoint375) {
            
        }
    }

    &__item {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
            grid-column: span 2;

            @media(max-width: $breakpoint600) {
                grid-column: span 1;
            }
        }

        &:nth-child(4) {
            grid-column-start: 2;
            grid-column-end: 4;

            @media(max-width: $breakpoint600) {
                grid-column-start: unset;
                grid-column-end: unset;
            }
        }
        &:nth-child(5) {
            grid-column-start: 4;
            grid-column-end: 6;

            @media(max-width: $breakpoint600) {
                grid-column-start: unset;
                grid-column-end: unset;
            }
        }
    }

    &__btns {
        display: contents;

        @media(max-width: 1500px) {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            @media(max-width: $breakpoint768) {
                margin-top: 20px;
            }
        }
    }

    &__btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        cursor: pointer;

        & svg {
            fill: #9F1014;

            @media(max-width: $breakpoint768) {
                width: 15px;
            }
        }

        &-prev {
            left: -30px;
        }
        &-next {
            right: -30px;
        }

        &.swiper-button-disabled {
            & svg {
                opacity: .5;
            }
        }

        @media(max-width: 1500px) {
            position: relative;
            top: unset;
            transform: unset;
            left: unset;
            right: unset;
        }
    }
}