.form {

    &__area {
        display: flex;
        flex-direction: column;
        gap: 2px;

        &-error {
            padding-left: 12px;
            font-weight: 400;
            font-size: 12px;
            line-height: 137%;
            color: #000;

            &:empty {
                display: none;
            }
        }
    }
}