.input {
    border: 1px solid rgba(255, 233, 190, 0.04);
    border-radius: 10px;
    background: $white;
    padding: 10px 15px;

    font-weight: 400;
    font-size: 16px;
    color: #4e4e4e;
    
    width: 100%;

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        color: #4e4e4e;
    }

    &:focus {
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &.is-error {
        border-color: $red !important;

        &::placeholder {
            color: $red !important;
        }
    }
} 