.product-card-status {
    display: flex;
    align-items: center;
    gap: 8px;

    font-weight: 500;
    font-size: 16px;
    text-decoration: underline !important;
    color: #979797;

    @media(max-width: $breakpoint1024) {
        font-size: 14px;
    }
    @media(max-width: $breakpoint600) {
        font-size: 12px;
    }

    &::before {
        content: '';
        width: 8px;
        height: 8px;
        background: #979797;
        border-radius: 50%;
    }   

    &[aria-stock="no"] {
        color: $red;
    }
    &[aria-stock="yes"] {
        $green: #65c118;
        color: $green;

        &::before {
            background: $green;
        } 
    }
}